<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zipcodeFinder">
	<resultMap type="nurse.zipcode.model.ZipcodeVO" id="zipcodeVO">
		<id property="number" column="number" />
		<result property="zipcode" column="zipcode"/>
		<result property="sido" column="sido"/>
		<result property="gugun" column="gugun"/>
		<result property="dong" column="dong"/>
		<result property="ri" column="ri"/>
		<result property="bunji" column="bunji"/>
	</resultMap>
	
	<!-- 동이름 검색 -->
	<select id="nurse.zipcode.dao.ZipcodeDAO.dongSearch" parameterType="String" resultMap="zipcodeVO">
		select ZIPCODE, SIDO, GUGUN, DONG, RI, BUNJI from ZIPCODE where DONG like #{dong} || '%' 
	</select>
</mapper>
